<a href="https://colab.research.google.com/github/smruthyunjaya/levisTakeHomeAssignment/blob/dev/levisAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Levis Take Home Assignment

 # Git setup

In [1]:
!git clone -b dev https://github.com/smruthyunjaya/levisTakeHomeAssignment.git
!cd levisTakeHomeAssignment/

Cloning into 'levisTakeHomeAssignment'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [9]:
import sys
import os
sys.path.append(os.path.abspath('/content/levisTakeHomeAssignment/'))

In [18]:
from data_utils.DataLoader import DataLoader

In [25]:
dl = DataLoader('https://docs.google.com/spreadsheets/d/e/2PACX-1vSag0RkuAVTVHmtxQHPAPc-6EGGKzWF9bkVq0xiH2AnyUcy_7VQwZGm-TFWZSVvxTlOFL3N1rYXTx5S/pub?gid=646522252&single=true&output=tsv')
dl.print_summary()
df = dl.df

(10127, 21)
          CLIENTNUM  Customer_Age  Dependent_count  Months_on_book  \
count  1.012700e+04  10127.000000     10127.000000    10127.000000
mean   7.391776e+08     46.325960         2.346203       35.928409
std    3.690378e+07      8.016814         1.298908        7.986416
min    7.080821e+08     26.000000         0.000000       13.000000
25%    7.130368e+08     41.000000         1.000000       31.000000
50%    7.179264e+08     46.000000         2.000000       36.000000
75%    7.731435e+08     52.000000         3.000000       40.000000
max    8.283431e+08     73.000000         5.000000       56.000000

       Total_Relationship_Count  Months_Inactive_12_mon  \
count              10127.000000            10127.000000
mean                   3.812580                2.341167
std                    1.554408                1.010622
min                    1.000000                0.000000
25%                    3.000000                2.000000
50%                    4.000000                2.000000
75%                    5.000000                3.000000
max                    6.000000                6.000000

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
count           10127.000000  10127.000000         10127.000000
mean                2.455317   8631.953698          1162.814061
std                 1.106225   9088.776650           814.987335
min                 0.000000   1438.300000             0.000000
25%                 2.000000   2555.000000           359.000000
50%                 2.000000   4549.000000          1276.000000
75%                 3.000000  11067.500000          1784.000000
max                 6.000000  34516.000000          2517.000000

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
count     10127.000000          10127.000000     10127.000000    10127.000000
mean       7469.139637              0.759941      4404.086304       64.858695
std        9090.685324              0.219207      3397.129254       23.472570
min           3.000000              0.000000       510.000000       10.000000
25%        1324.500000              0.631000      2155.500000       45.000000
50%        3474.000000              0.736000      3899.000000       67.000000
75%        9859.000000              0.859000      4741.000000       81.000000
max       34516.000000              3.397000     18484.000000      139.000000

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio
count         10127.000000           10127.000000
mean              0.712222               0.274894
std               0.238086               0.275691
min               0.000000               0.000000
25%               0.582000               0.023000
50%               0.702000               0.176000
75%               0.818000               0.503000
max               3.714000               0.999000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB
None

In [26]:
# Droping CLIENTNUM columns because Client number is unique identifier of account holder. This feature doesn't really effect the attrition  prediction.
df.drop(['CLIENTNUM'], inplace=True, axis=1)

In [27]:
df.shape

(10127, 20)